DJANGO_SECRET_KEY=change-me-in-production
DJANGO_SETTINGS_MODULE=conf.settings.dev
DEBUG=True
POSTGRES_DB=meerkat
POSTGRES_USER=meerkat
POSTGRES_PASSWORD=meerkat
POSTGRES_HOST=db
POSTGRES_PORT=5432
REDIS_URL=redis://redis:6379/0
